.chartContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.chartContainer * {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	outline: none;
}

.chartSize {
	width: 100%;
	height: 800px;
}

@media screen and (max-width: 768px) {
    .chartContainer {
        display: block;
        min-width: 0;
        max-width: 100%;
        overflow-x: auto;
    }

    .wideChart > * {
        min-width: 640px !important;
    }

	.chartSize {
		height: 400px;
	}
}

.chartContainer:focus-visible {
    outline: 2px solid #00b947;
    outline-offset: -2px;
}
