/* Barra lateral */
.sidebar {
    z-index: 100;  
    height: 100vh;
    width: 270px;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os itens ao topo */
    position: fixed;
    top: 90px;
    left: 0;    
}

/* Header da barra */
.sidebarHeader {
    z-index: 100;  
    height: 60px;
    width: 100%;
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-weight: 700;
}

/* Categorias na barra lateral */
.categoryWrapper {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

/* Todos os filhos das categorias */
.categoryWrapper > * {
    /* Impede a seleção do texto */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Padrão (Chrome, Edge, Opera) */
}

/* Categoria */
.categoryHeader { 
    height: auto;
    width: 100%;
    background-color: #050505;
    display: flex; 
    flex-direction: row; /* Deixa o ícone do lado do texto */
    cursor: pointer; /* Mouse vira pointer quando está em cima */
    gap: 10px; /* Distância entre o ícone e o texto */
    padding: 10px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #d1d5db;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
}

.categoryHeader:hover { 
    color: #ffffff;
    border-left: 4px solid #00b947;
}

.categoryHeaderActive {
    color: #ffffff;
    border-left: 4px solid #00b947;
}

.chevronIcon {
    margin-left: auto; 
    transition: transform 0.3s ease;
}

.chevronActive {
    transform: rotate(-90deg); /* Rota o ícone 90 graus quando a categoria está ativa */
}

/* Lista de ferramentas para cada categoria */
.toolsList {
    /* Impede o texto de pular para a linha de baixo */
    white-space: nowrap; 
    /* Garante que o texto que "sobrar" não apareça fora da barra */
    overflow: hidden;
}

/* Ferramenta individual */
.toolLink {
    display: flex;
    flex-direction: row; /* Deixa o ícone do lado do texto */
    gap: 13px; /* Distância entre o ícone e o texto */
    padding: 10px 15px; /* Espaçamento interno da ferramenta */
    color: #9ca3af;
    transition: color 0.2s ease; /* Animação suave para a mudança de cor */
    align-items: center;
}

.toolLink:hover {
    color: #f9fafb;
}

/* Circulo para tool */
.perfectCircle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2.5px solid #00b947;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}