/* Barra lateral */
.sidebar {
    z-index: 100;  
    height: 100vh;
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os itens ao topo */
    position: fixed;
    top: 92px;
    left: 0;    
}

/* Header da barra */
.sidebarHeader {
    z-index: 100;  
    height: 60px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

/* Categorias na barra lateral */
.categoryWrapper {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

/* Todos os filhos das categorias */
.categoryWrapper > * {
    /* Impede a seleção do texto */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* Padrão (Chrome, Edge, Opera) */
}

/* Categoria */
.categoryHeader { 
    height: auto;
    width: 100%;
    background-color: rgb(83, 83, 83);
    display: flex; 
    flex-direction: row; /* Deixa o ícone do lado do texto */
    cursor: pointer; /* Mouse vira pointer quando está em cima */
    gap: 10px; /* Distância entre o ícone e o texto */
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
}

.chevronIcon {
    margin-left: auto;; /* Centraliza o ícone verticalmente */
}

/* Lista de ferramentas para cada categoria */
.toolsList {
    /* Impede o texto de pular para a linha de baixo */
    white-space: nowrap; 
    /* Garante que o texto que "sobrar" não apareça fora da barra */
    overflow: hidden;
}

/* Ferramenta individual */
.toolLink {
    display: flex;
    flex-direction: row; /* Deixa o ícone do lado do texto */
    gap: 10px; /* Distância entre o ícone e o texto */
}

/* Circulo para tool */
.perfectCircle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2.5px solid gray;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}