.reactiveButton {
    text-align: left;
    color: rgb(51, 68, 67);
    background-color: rgba(201, 181, 156, 0.10);
    margin-top: 10px;
    padding: 12px;
    border: solid 2px rgba(201, 181, 156, 0.300);
    width: 100%;
    border-radius: 10px;

    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.reactiveButton:hover {
    background-color: rgba(201, 181, 156, 0.418);
    cursor: pointer;
    transform: translateX(3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* classe para desativar o hover */
.noHover:hover {
  background-color: rgba(201, 181, 156, 0.10); /* mesmo que o normal */
  cursor: default;
  transform: none;
  box-shadow: none;
}

.active {
    background-color: #efe9e3 !important;
}
